html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 0 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customError {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background: #fff; */
  background-image: url("../public/images/404wallpaper.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 100;
  src:
    url("../public/fonts/NotoSansKR-Thin.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Thin.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src:
    url("../public/fonts/NotoSansKR-Thin.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Thin.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Thin.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src:
    url("../public/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Light.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 350;
  src:
    url("../public/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Light.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src:
    url("../public/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src:
    url("../public/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src:
    url("../public/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 900;
  src:
    url("../public/fonts/NotoSansKR-Black.woff2") format("woff2"),
    url("../public/fonts/NotoSansKR-Black.woff") format("woff"),
    url("../public/fonts/NotoSansKR-Black.otf") format("opentype");
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
